header {
  display: flex;
  height: 100px;
  position: relative;
  background-color: #222222;
  justify-content: space-between;
}
header div img {
  width: 200px;
  padding-top: 25px;
  padding-left: 20px;
}
header div.menu {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 200px;
  height: 400px;
  background-color: #222222;
  display: flex;
  flex-direction: column-reverse;
  align-items: normal;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 1.1rem;
  transition: all 150ms ease;
}
header div.menu ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}
header div.menu ul li {
  margin-bottom: 30px;
}
header div.menu ul li a {
  color: white;
  text-decoration: none;
}
header div.menu ul li a:hover {
  color: #D01418;
}
header div.menu div.login {
  display: flex;
  flex-direction: column-reverse;
  width: 120px;
  height: 80px;
  justify-content: space-between;
  margin-left: 15px;
}
header div.menu div.carro {
  width: 45px;
  height: 45px;
  margin-left: 15px;
}
header div.menu div.carro a {
  text-decoration: none;
}
header div.menu div i.carrito {
  color: white;
  font-size: 50px;
}
header div.nav-desplegable {
  position: fixed;
  right: -100%;
}
header .bars_menu {
  padding: 0px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header .bars_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}
header .activeline1_bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}
header .activeline2_bars-menu {
  opacity: 0;
  margin-left: -30px;
}
header .activeline3_bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}
header .btn-ingresar, header .btn-registrar {
  background-color: white;
  color: #D01418;
  border: 0;
  font-weight: 500;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
  font-size: 0.8rem;
  width: auto;
  height: auto;
  padding: 9px;
}
header .btn-ingresar a, header .btn-registrar a {
  width: 50px;
  color: #D01418;
  text-decoration: none;
}
header .btn-ingresar:hover, header .btn-registrar:hover {
  cursor: pointer;
  font-weight: bold;
}
header .btn-registrar {
  background-color: #D01418;
  color: white;
  border: 0;
  font-weight: 500;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
}
header .btn-registrar a {
  color: white;
  text-decoration: none;
}
header .btn-registrar:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 1024px) {
  header div img {
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
  }
  header div.menu {
    width: 70%;
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    transition: none;
  }
  header div.menu ul {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 33px;
    padding-left: 0;
    list-style: none;
  }
  header div.menu div.carro {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 30px;
  }
  header div.menu div.login {
    display: flex;
    width: 30%;
    padding-top: 25px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  header div.menu .btn-ingresar, header div.menu .btn-registrar {
    font-size: 0.85rem;
    width: 130px;
    height: 40px;
  }
  header .bars_menu {
    display: none;
  }
}
header div.menu div.login {
  height: 30px;
}
header div.menu div.login .btn-registrar {
  display: none;
}

@media (min-width: 1024px) {
  header div.menu div.login {
    margin-left: 150px;
    height: 80px;
  }
}
body {
  background-color: #F3F3F3;
}

.contenedor {
  height: auto;
  width: 300px;
  background-image: url(../img/fondodesktop.png);
  background-repeat: no-repeat;
  border-radius: 3%;
  margin: 100px auto;
}

form {
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--app-grey);
  align-items: center;
  margin-bottom: 16px;
}
form input {
  border-radius: 100vh;
  padding: 0.3rem 1rem;
  margin-bottom: 20px;
  padding: 3% 7%;
}
form input:focus {
  outline: none;
  border: 2px solid #D01418;
}
form div h2 {
  margin-bottom: 12px;
}
form button {
  background-color: #D01418;
  color: white;
  border: 0;
  font-weight: 500;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
  width: 150px;
  height: auto;
  padding: 20px;
  font-size: 1.1rem;
}
form button:hover {
  cursor: pointer;
  background-color: rgb(248, 6, 6);
}
form div h2 {
  color: #D01418;
}
form label {
  color: white;
}
form p.errores {
  font-size: 0.9rem;
  border: solid 3px #D01418;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F3F3F3;
  color: #D01418;
}

@media (min-width: 1024px) {
  .contenedor {
    height: auto;
    width: 350px;
  }
}
footer {
  height: auto;
}
footer div.position {
  height: 190px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer div.position p {
  color: white;
  font-size: 25px;
  font-weight: 400;
}
footer div.position div.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
footer div.position div.redes div.logos-redes {
  margin-top: 15px;
  padding-top: 2px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
footer div.position div.redes div.logos-redes a {
  text-decoration: none;
}
footer div.position div.redes div.logos-redes a i {
  font-size: 35px;
}
footer div.position div.redes div.logos-redes a .twitter {
  color: rgb(29, 161, 242);
}
footer div.position div.redes div.logos-redes a .facebook {
  color: rgb(66, 103, 178);
}
footer div.position div.redes div.logos-redes a .instagram {
  color: white;
  border-radius: 15px;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}
footer p.derechos {
  height: 25px;
  color: black;
  background-color: #C4C4C4;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

@media (min-width: 1024px) {
  footer div.position {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
  }
  footer p.derechos {
    height: 30px;
    font-size: 15px;
  }
}
footer {
  height: auto;
}
footer div.position {
  height: 190px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer div.position p {
  color: white;
  font-size: 25px;
  font-weight: 400;
}
footer div.position div.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
footer div.position div.redes div.logos-redes {
  margin-top: 15px;
  padding-top: 2px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
footer div.position div.redes div.logos-redes a {
  text-decoration: none;
}
footer div.position div.redes div.logos-redes a i {
  font-size: 35px;
}
footer div.position div.redes div.logos-redes a .twitter {
  color: rgb(29, 161, 242);
}
footer div.position div.redes div.logos-redes a .facebook {
  color: rgb(66, 103, 178);
}
footer div.position div.redes div.logos-redes a .instagram {
  color: white;
  border-radius: 15px;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}
footer p.derechos {
  height: 25px;
  color: black;
  background-color: #C4C4C4;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

@media (min-width: 1024px) {
  footer div.position {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
  }
  footer p.derechos {
    height: 30px;
    font-size: 15px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto, "Times New Roman", Times, serif;
}