header {
  display: flex;
  height: 100px;
  position: relative;
  background-color: #222222;
  justify-content: space-between;
}
header div img {
  width: 200px;
  padding-top: 25px;
  padding-left: 20px;
}
header div.menu {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 200px;
  height: 400px;
  background-color: #222222;
  display: flex;
  flex-direction: column-reverse;
  align-items: normal;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 1.1rem;
  transition: all 150ms ease;
}
header div.menu ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}
header div.menu ul li {
  margin-bottom: 30px;
}
header div.menu ul li a {
  color: white;
  text-decoration: none;
}
header div.menu ul li a:hover {
  color: #D01418;
}
header div.menu div.login {
  display: flex;
  flex-direction: column-reverse;
  width: 120px;
  height: 60px;
  justify-content: space-between;
  margin-left: 15px;
}
header div.menu div.login a.iniciar-sesion {
  font-size: 21px;
  width: 130px;
  height: auto;
  color: rgb(74, 120, 181);
  text-decoration: none;
}
header div.menu div.login a.crear-cuenta {
  font-size: 20px;
  width: 130px;
  height: auto;
  color: #D01418;
  text-decoration: none;
}
header div.menu div.login a.iniciar-sesion:hover {
  -webkit-text-decoration: double;
          text-decoration: double;
}
header div.menu div.iniciado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
header div.menu div.iniciado .foto-perfil {
  font-size: 1.6rem;
  color: #D01418;
  margin-top: 4px;
}
header div.menu div.iniciado .perfil {
  width: 120px;
  font-size: 1.6rem;
  color: #D01418;
  margin-top: 2px;
}
header div.menu div.iniciado .logout {
  font-size: 1.6rem;
  color: rgb(74, 120, 181);
  margin-top: 4px;
}
header div.menu div.carro {
  width: auto;
  height: auto;
  margin-left: 15px;
}
header div.menu div.carro a {
  text-decoration: none;
}
header div.menu div i.carrito {
  color: white;
  font-size: 40px;
}
header div.nav-desplegable {
  position: fixed;
  right: -100%;
}
header .bars_menu {
  padding: 0px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header .bars_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}
header .activeline1_bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}
header .activeline2_bars-menu {
  opacity: 0;
  margin-left: -30px;
}
header .activeline3_bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

@media (min-width: 1024px) {
  header div img {
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
  }
  header div.menu {
    width: 70%;
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    transition: none;
  }
  header div.menu ul {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 33px;
    padding-left: 0;
    list-style: none;
  }
  header div.menu div.carro {
    margin: 0;
    padding: 25px 25px 25px 5px;
  }
  header div.menu div.login {
    padding-left: 150px;
    margin-top: 10px;
    width: auto;
    height: 70px;
    justify-content: space-around;
  }
  header .bars_menu {
    display: none;
  }
}
main h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #D01418;
  margin-top: 30px;
}
main h2 {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #D01418;
}
main hr.hr-principal {
  width: 90%;
  border: 1px solid black;
  margin: 20px auto 0px auto;
  box-shadow: 0px 0px 10px 1px black;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section article {
  width: 200px;
  background-color: white;
  margin-top: 60px;
  height: auto;
  border-radius: 2%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}
main section article div.img-juego {
  text-align: center;
}
main section article div.img-juego img {
  margin: 10px;
  width: 115px;
  height: 150px;
}
main section article hr {
  margin: 0 auto;
  width: 80%;
  border: #D01418 1px solid;
  box-shadow: 0px 0px 10px 1px #D01418;
}
main section article div.info-productos {
  padding: 5px 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding-left: 10px;
}
main section article div.info-productos p.titulo {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px;
}
main section article div.info-productos p.precio {
  color: #00a650;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0px 5px;
}
main section article div.info-productos p.descripcion {
  padding: 5px;
  font-size: 15px;
}
main section article div.info-productos button.btn {
  background-color: #D01418;
  color: white;
  border: 0;
  font-weight: 500;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
  width: 65px;
  height: 30px;
  align-self: end;
  margin: 10px 10px 5px 0px;
}
main section article div.info-productos button.btn:hover {
  cursor: pointer;
  background-color: rgb(141, 11, 11);
}

@media (min-width: 510px) {
  main section {
    align-items: center;
  }
  main section div article div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main section div#cards, main section div#cards-computadoras, main section div#cards-sillas {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  main section div#cards article, main section div#cards-computadoras article, main section div#cards-sillas article {
    margin-left: 20px;
  }
}
footer {
  height: auto;
}
footer div.position {
  height: 190px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer div.position p {
  color: white;
  font-size: 25px;
  font-weight: 400;
}
footer div.position div.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
footer div.position div.redes div.logos-redes {
  margin-top: 15px;
  padding-top: 2px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
footer div.position div.redes div.logos-redes a {
  text-decoration: none;
}
footer div.position div.redes div.logos-redes a i {
  font-size: 35px;
}
footer div.position div.redes div.logos-redes a .twitter {
  color: rgb(29, 161, 242);
}
footer div.position div.redes div.logos-redes a .facebook {
  color: rgb(66, 103, 178);
}
footer div.position div.redes div.logos-redes a .instagram {
  color: white;
  border-radius: 15px;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}
footer p.derechos {
  height: 25px;
  color: black;
  background-color: #C4C4C4;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

@media (min-width: 1024px) {
  footer div.position {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
  }
  footer p.derechos {
    height: 30px;
    font-size: 15px;
  }
}
footer {
  margin-top: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto, "Times New Roman", Times, serif;
}/*# sourceMappingURL=productos.css.map */