header {
  display: flex;
  height: 100px;
  position: relative;
  background-color: #222222;
  justify-content: space-between;
}
header div img {
  width: 200px;
  padding-top: 25px;
  padding-left: 20px;
}
header div.menu {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 200px;
  height: 400px;
  background-color: #222222;
  display: flex;
  flex-direction: column-reverse;
  align-items: normal;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 1.1rem;
  transition: all 150ms ease;
}
header div.menu ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}
header div.menu ul li {
  margin-bottom: 30px;
}
header div.menu ul li a {
  color: white;
  text-decoration: none;
}
header div.menu ul li a:hover {
  color: #D01418;
}
header div.menu div.login {
  display: flex;
  flex-direction: column-reverse;
  width: 120px;
  height: 80px;
  justify-content: space-between;
  margin-left: 15px;
}
header div.menu div.carro {
  width: 45px;
  height: 45px;
  margin-left: 15px;
}
header div.menu div.carro a {
  text-decoration: none;
}
header div.menu div i.carrito {
  color: white;
  font-size: 50px;
}
header div.nav-desplegable {
  position: fixed;
  right: -100%;
}
header .bars_menu {
  padding: 0px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header .bars_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}
header .activeline1_bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}
header .activeline2_bars-menu {
  opacity: 0;
  margin-left: -30px;
}
header .activeline3_bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}
header .btn-ingresar, header .btn-registrar {
  background-color: white;
  color: #D01418;
  border: 0;
  font-weight: 500;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
  font-size: 0.8rem;
  width: auto;
  height: auto;
  padding: 9px;
}
header .btn-ingresar:hover, header .btn-registrar:hover {
  cursor: pointer;
  font-weight: bold;
}
header .btn-registrar {
  background-color: #D01418;
  color: white;
  border: 0;
  font-weight: 500;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
}
header .btn-registrar:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 1024px) {
  header div img {
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
  }
  header div.menu {
    width: 70%;
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    transition: none;
  }
  header div.menu ul {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 33px;
    padding-left: 0;
    list-style: none;
  }
  header div.menu div.carro {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 30px;
  }
  header div.menu div.login {
    display: flex;
    width: 30%;
    padding-top: 25px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  header div.menu .btn-ingresar, header div.menu .btn-registrar {
    font-size: 0.8rem;
    width: 130px;
    height: 40px;
  }
  header .bars_menu {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto, "Times New Roman", Times, serif;
  background-image: url(../img/fondodesktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=productos.css.map */