@import "indexHeader.scss";

header {
    div.menu div.login {
        height: 30px;
        .btn-registrar{
            display: none;
        }
    }
}


@media (min-width: 1024px) {
    header {
        div.menu div.login {
            margin-left: 150px;
            height: 80px;
        }
    }
}