@import "variables.scss", "mixins.scss";
body{
    background-color: $colorFondoMain;
}
.contenedor{
<<<<<<< HEAD
 height: auto;
 width: 300px;
 background-image: url(../img/fondodesktop.png);
 background-repeat: no-repeat;
 border-radius: 3%;
 margin: 100px auto;
=======
    height: auto;
    width: 300px;
    background-image: url(../img/fondodesktop.png);
    background-repeat: no-repeat;
    border-radius: 3%;
    margin: 100px auto;
>>>>>>> main
}
form{
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--app-grey);
    align-items: center;
    margin-bottom: 16px;
    input{
        border-radius: 100vh;
        padding : 0.3rem 1rem;
        margin-bottom: 20px;
        padding: 3% 7%;    
    }
    input:focus {
        outline: none;
        border: 2px solid $colorBotones;
    }
    div h2{
        margin-bottom: 12px;
    }
    button{
        @include botones($colorBotones,$colorLetra1);
        width: 150px;
        height: auto;
        padding: 20px;
        font-size: 1.1rem;
    }
    button:hover{
        cursor:pointer;
        background-color: rgb(248, 6, 6);
    }
    div h2{
        color:$colorLetra1;
    }
    label{
        color: $colorLetra1;
    }
    p.errores{
        font-size: 0.9rem;
        border: solid 3px $colorBotones;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $colorFondoMain;
        color: $colorBotones;
    }
}


// *********** MEDIDAS QUERIESSSSSSSSSS ***********
@media (min-width: 1024px){
    .contenedor{
        height: auto;
        width: 350px;
    }
}