@import "variables.scss", "mixins.scss";

main h2 {
    background-color: $colorFondoMain;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
main section.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 512px;
    background-image: url(../img/background\ main.png);
    background-repeat: no-repeat;
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        color: $colorLetra1;
        padding: 0px 20px 10px 20px;
        span {
            color: $colorBotones;
        }
    }
    button {
        background-color: $colorBotones;
        color: $colorLetra1;
        width: 220px;
        height: 61px;
        border: 0;
        font-weight: 500;
        border-radius: 5px;
        font-size: 1.3rem;
        margin-top: 30px;
        transition: 100ms all ease-in-out;
    }
    button:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
    }
}
main section.section2 {
    @extend .section1;
    background-image: none;
    background-color: $colorFondoMain;
    height: 1200px;
    justify-content: space-around;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        width: 240px;
        height: 320px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.40);
        transition: 100ms all ease-in-out;
        hr {
            width: 100%;
            color: rgba(34, 34, 34, 1);
            box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
        }
        div {
            align-self: flex-start;
            padding: 10px;
            .precio {
                font-size: 20px;
                font-weight: 400;
            }
            .cuotas {
                font-size: 13px;
                font-weight: 400;
            }
            .envio {
                color: #619D00;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
    article:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
    }
}
main section.section3 {
    @extend .section2;
    justify-content: space-around;
    height: 380px;
    padding-bottom: 30px;
    article.producto1 {
        width: 288px;
        height: 108px;
        background-image: url(../img/banner\ 1.png);
        background-repeat: no-repeat;
        p {
            color: $colorLetra1;
            font-size: 15px;
            font-weight: 400;
            padding-left: 150px;
        }
    }
    article.producto2 {
        width: 288px;
        height: 108px;
        background-image: url(../img/banner\ 2.png);
        background-repeat: no-repeat;
        p {
            color: $colorLetra1;
            font-size: 15px;
            font-weight: 400;
            padding-left: 150px;
        }
    }
}

// *********** MEDIDAS QUERIESSSSSSSSSS ***********

@media (min-width: 425px){
    main section.section1 {
        background-image: url(../img/fondodesktop.png);
        background-size: cover;
    }
    main section.section2 {
        background-image: none;
    }
}

@media (min-width: 1024px) {
    main section.section2 {
        flex-direction: row;
        justify-content: space-evenly;
        height: 500px;
    }
    main section.section3 {
        height: 250px;
    }
}