@import "variables.scss", "mixins.scss";

header {
    height: auto;
    position: relative;
    background-color: $color-header;
    display: flex;
    justify-content: space-between;
    ul{
        position: absolute;
        top:100%;
        right: 0%;
        width: 60%;
        height: 250px;
        background-color: #222222;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom-left-radius: 5px;
        list-style: none;
        color: $colorLetra1;
        font-size: 1.1rem;
        transition: all 300ms ease;
        li {
            margin-bottom: 10px;
            margin-left: 20px;
        }
        li a{
            color: $colorLetra1;
            text-decoration: none;
        }
        li a:hover {
            color: $colorBotones;
        }
    }
    ul.nav-desplegable{
        display:none;
        right: -100%;
    }
    div.carro a{
        text-decoration: none;
    }
    div i.carrito {
        color: white;
        font-size: 40px;
        display: none;
    }
    div i.carrito:hover {
        cursor: pointer;
        color:$colorBotones;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 10px white;
        transition: all 100ms ease-in;
    }
    div {
        padding: 2vw;
    }
    // ***** Menu hamburguesa dinamico ////
    
    .bars_menu {
        padding: 0px;
        margin-top: 15px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .bars_menu span {
        display: block;
        width: 100%; 
        height: 2px;
        background-color: #ffffff;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;
    }
    
    .activeline1_bars-menu {
        transform: rotate(45deg) translate(-2px, 1px);
    }
    .activeline2_bars-menu {
        opacity: 0;
        margin-left: -30px;
    }
    .activeline3_bars-menu {
        transform: rotate(-45deg) translate(-4px, 2px); 
    }


    div.login {
        display:none;
        width: 300px;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: auto;
    }
    .btn-ingresar{
        @include botones($colorLetra1, $colorBotones);
        font-size: 0.9rem;
        width: auto;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-ingresar:hover{
        cursor: pointer;
        font-weight: bold;
    }
    .btn-registrar{
        @include botones($colorBotones, $colorLetra1);
        @extend .btn-ingresar;
    }
    .btn-registrar:hover{
        cursor: pointer;
        font-weight: bold;
    }
}



@media (min-width: 1024px) {
    header {
        ul{
            display: flex;
            flex-direction: row;
            position: static;
            width: 30vw;
            padding: 2.7% 20px 20px 0px;
            margin-left: auto;
            height: auto;
        }
        div i.carrito {
            display: block;
        }
        .bars_menu {
            display:none;
        }
        div.login {
            display:flex;
        }
    }
}