@import "variables.scss", "mixins.scss";

header {
    display: flex;
    height: 100px;
    // width: 100%;
    position: relative;
    // position:fixed;
    background-color: $color-header;
    justify-content: space-between;
    div img {
        width: 200px;
        padding-top: 25px;
        padding-left: 20px;
    }
    div.menu{
        position: absolute;
        top:100%;
        right: 0%;
        width: 200px;
        height: 400px;
        background-color: #222222;
        display: flex;
        flex-direction: column-reverse;
        align-items: normal;
        justify-content: space-evenly;
        border-bottom-left-radius: 5px;
        color: $colorLetra1;
        font-size: 1.1rem;
        transition: all 150ms ease;
        ul {
            list-style: none;
            padding: 0;
            margin-left: 20px;
            li {
                margin-bottom: 30px;
            }
            li a{
                color: $colorLetra1;
                text-decoration: none;
            }
            li a:hover {
                color: $colorBotones;
            }
        }
        div.login {
            display:flex;
            flex-direction: column-reverse;
            width: 120px;
            height: 60px;
            justify-content: space-between;
            margin-left: 15px;
            a.iniciar-sesion{
                font-size: 21px;
                width: 130px;
                height: auto;
                color: rgb(74, 120, 181);
                text-decoration: none;
            }
            a.crear-cuenta{
                font-size: 20px;
                width: 130px;
                height: auto;
                color:$colorBotones;
                text-decoration: none;
            }
            a.iniciar-sesion:hover{
                text-decoration: double;
            }
        }
        div.iniciado{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            .foto-perfil{
                font-size: 1.6rem;
                color: $colorBotones;
                margin-top: 4px;
            }
            .perfil{
                width: 120px;
                font-size: 1.6rem;
                color: $colorBotones;
                margin-top: 2px;
            }
            
            .logout{
                font-size: 1.6rem;
                color:rgb(74, 120, 181);
                margin-top: 4px;
            }
        }
        div.carro{
            width: auto;
            height: auto;
            margin-left: 15px;
        }
        div.carro a{
            text-decoration: none;
        }
        div i.carrito {
            color: white;
            font-size: 40px;
        }
    }
    div.nav-desplegable{
        position: fixed;
        right: -100%;
    }
    // ***** Menu hamburguesa dinamico ////
    
    .bars_menu {
        padding: 0px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .bars_menu span {
        display: block;
        width: 100%; 
        height: 2px;
        background-color: #ffffff;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;
    }
    
    .activeline1_bars-menu {
        transform: rotate(45deg) translate(-2px, 1px);
    }
    .activeline2_bars-menu {
        opacity: 0;
        margin-left: -30px;
    }
    .activeline3_bars-menu {
        transform: rotate(-45deg) translate(-4px, 2px); 
    }
}



@media (min-width: 1024px) {
    header {
        div img {
            width: 250px;
            padding-top: 20px;
            padding-left: 20px;
        }
        div.menu {
            width: 70%;
            position: static;
            display:flex;
            justify-content: space-between;
            flex-direction: row;
            height: auto;
            transition: none;
            ul {
                width: 30vw;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 33px;
                padding-left: 0;
                list-style: none;
            }
            div.carro{
                margin: 0;
                padding:  25px 25px 25px 5px;
            }
            div.login {
                padding-left: 150px;
                margin-top: 10px;
                width: auto;
                height: 70px;
                justify-content: space-around;
            }
        }
        .bars_menu {
            display:none;
        }
    }
}