@import "variables.scss", "mixins.scss";

header {
    display: flex;
    height: 100px;
    position: relative;
    background-color: $color-header;
    justify-content: space-between;
    div img {
        width: 200px;
        padding-top: 25px;
        padding-left: 20px;
    }
    div.menu{
        position: absolute;
        top:100%;
        right: 0%;
        width: 200px;
        height: 400px;
        background-color: #222222;
        display: flex;
        flex-direction: column-reverse;
        align-items: normal;
        justify-content: space-evenly;
        border-bottom-left-radius: 5px;
        color: $colorLetra1;
        font-size: 1.1rem;
        transition: all 150ms ease;
        ul {
            list-style: none;
            padding: 0;
            margin-left: 20px;
            li {
                margin-bottom: 30px;
            }
            li a{
                color: $colorLetra1;
                text-decoration: none;
            }
            li a:hover {
                color: $colorBotones;
            }
        }
        div.login {
        display:flex;
        flex-direction: column-reverse;
        width: 120px;
        height: 80px;
        justify-content: space-between;
        margin-left: 15px;
        }
        div.carro{
            width: 45px;
            height: 45px;
            margin-left: 15px;
        }
        div.carro a{
            text-decoration: none;
        }
        div i.carrito {
            color: white;
            font-size: 50px;
        }
    }
    div.nav-desplegable{
        position: fixed;
        right: -100%;
    }
    // ***** Menu hamburguesa dinamico ////
    
    .bars_menu {
        padding: 0px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .bars_menu span {
        display: block;
        width: 100%; 
        height: 2px;
        background-color: #ffffff;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;
    }
    
    .activeline1_bars-menu {
        transform: rotate(45deg) translate(-2px, 1px);
    }
    .activeline2_bars-menu {
        opacity: 0;
        margin-left: -30px;
    }
    .activeline3_bars-menu {
        transform: rotate(-45deg) translate(-4px, 2px); 
    }

    .btn-ingresar{
        @include botones($colorLetra1, $colorBotones);
        font-size: 0.8rem;
        width: auto;
        height: auto;
        padding: 9px;
        a {
            width: 50px;
            color:$colorBotones;
            text-decoration: none;
        }
    }
    .btn-ingresar:hover{
        cursor: pointer;
        font-weight: bold;
    }
    .btn-registrar{
        @include botones($colorBotones, $colorLetra1);
        @extend .btn-ingresar;
        a {
            color:$colorLetra1;
            text-decoration: none;
        }
    }
    .btn-registrar:hover{
        cursor: pointer;
        font-weight: bold;
    }
}



@media (min-width: 1024px) {
    header {
        div img {
            width: 250px;
            padding-top: 20px;
            padding-left: 20px;
        }
        div.menu {
            width: 70%;
            position: static;
            display:flex;
            justify-content: space-between;
            flex-direction: row;
            height: auto;
            transition: none;
            ul {
                width: 30vw;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 33px;
                padding-left: 0;
                list-style: none;
            }
            div.carro{
                margin-top: 20px;
                margin-left: 0;
                margin-right: 30px;
            }
            div.login {
                display: flex;
                width: 30%;
                padding-top: 25px;
                flex-direction: row;
                justify-content: space-evenly;
            }
            .btn-ingresar {
                font-size: 0.85rem;
                width: 130px;
                height: 40px;
            }
        }
        .bars_menu {
            display:none;
        }
    }
}