@import "indexHeader.scss";

header {
    div.menu div.login{
        height: 0px;
        a.iniciar-sesion{
            display:none;
        }
    }
}

@media (min-width: 1024px) {
    header {
        div.menu div.login {
            margin-top: 45px;
        }
    }
}