@mixin botones($fondobtn, $colorletra){
    background-color: $fondobtn;
    color: $colorletra;
    border: 0;
    font-weight: 500;
    border-radius: 20px;
}

@mixin efectoClick(){
    transform:scale(0.8);
    box-shadow: 1px 1px 3px 1px rgb(75, 73, 73);
}