@import "variables.scss", "mixins.scss";
@import "indexHeader.scss";

*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Roboto, 'Times New Roman', Times, serif;
    background-image: url(../img/fondodesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

