@import "variables.scss", "mixins.scss";
@import "productosHeader.scss";
@import "productosMain.scss";
@import "productosFooter.scss";

*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Roboto, 'Times New Roman', Times, serif;
}
